<!-- This is EJS file used to create dynamic structure for web page with some dynamic details... -->
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css"
      integrity="sha512-DTOQO9RWCH3ppGqcWaEA1BIZOC6xxalwEsw9c2QQeAIftl+Vegovlnee1c9QX4TctnWMn13TZye+giMm8e2LwA=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
    <link rel="stylesheet" href="/css/home.css" />
    <title><%= title %></title>
  </head>
  <body>
    <!-- This is heading -->
    <h1 class="heading">
      <i class="fa-solid fa-address-book"></i> My Contacts List
    </h1>

    <!-- This is for creating contact list... -->
    <ul class="list">
      <!-- This is where you can use some js code in ejs code for creating dynamic contact list... -->
      <% contacts_list.forEach((contact) => { %>
      <li>
        <div class="details">
          <strong><%= contact.name %> </strong
          ><span><%= contact.number %></span>
        </div>
        <button class="delete-btn">
          <a href="/delete-contact/?id=<%= contact._id %>"
            ><i class="fa-solid fa-square-xmark"></i
          ></a>
        </button>
      </li>
      <% }) %>
    </ul>

    <!-- This is create new contact form... -->
    <form class="form" action="/create-contact" method="post">
      <input type="text" name="name" placeholder="Enter the name..." required />
      <input
        type="number"
        name="number"
        placeholder="Enter the phone number..."
        required
      />
      <button type="submit">Add Contact</button>
    </form>

    <!-- This  is JavaScript link of this page... -->
    <script src="/js/home.js"></script>
  </body>
</html>
