<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title><%= title %></title>
  </head>
  <body>
    <h1>Rendering from template engine!!!</h1>
    <h3>Contacts List:</h3>
    <ul>
      <% contacts_list.forEach((contact) => { %>
      <li>
        <strong><%= contact.name %>: </strong><span><%= contact.number %></span>
      </li>
      <% }) %>
    </ul>

    <form action="/create-contact" method="post">
      <input type="text" name="name" placeholder="Enter the name..." required />
      <input
        type="number"
        name="number"
        placeholder="Enter the phone number..."
        required
      />
      <button type="submit">Add Contact</button>
    </form>
  </body>
</html>
