/* This is stylings for the home page with contact list created using CSS... */

/* These are some general stylings  that apply to all elements on the page. */
* {
  box-sizing: border-box;
}
body {
  margin: 0;
  text-align: center;
  background-color: #fff;
  color: grey;
}

.heading {
  letter-spacing: 1px;
  margin-top: 25px;
  font-size: 50px;
}

.heading i:hover {
  color: deepskyblue;
}

/* These stylings are for contact list container , which contains all contacts. */

.list {
  list-style-type: none;
  height: 36vh;
  width: 360px;
  margin: 20px auto;
  padding: 0;
  overflow: auto;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  border-radius: 10px;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.7);
  /* border: 2px solid red; */
}

.list::-webkit-scrollbar {
  display: none;
}

.list li {
  /* height: 30px; */
  width: 350px;
  padding: 10px 20px;
  margin: 0 0 4px 0;
  background-color: deepskyblue;
  border-radius: 10px;
  color: #fff;
  display: flex;
}

.list li:nth-child(1) {
  margin-top: 5px;
}

.list li .details {
  width: 90%;
  display: flex;
  justify-content: space-between;
  margin-right: 4px;
}

.list li:hover {
  background-color: grey;
  color: deepskyblue;
}

.list li strong {
  font-size: 20px;
}
.list li span {
  font-size: 20px;
}

.list li .delete-btn a {
  text-decoration: none;
  color: #111;
}

.delete-btn {
  border: none;
  background-color: transparent;
  font-size: 20px;
}
.list li:hover > .delete-btn a,
.delete-btn a:hover {
  cursor: pointer;
  color: #fff;
}

/* These stylings are for create contact form... */
.form input {
  border: none;
  border-bottom: 2px solid black;
}
.form input:focus {
  outline: none;
}
.form button {
  padding: 5px 10px;
  background-color: grey;
  color: #fff;
  border: none;
}

.form button:hover,
.form button:active {
  cursor: pointer;
  background-color: deepskyblue;
  color: #222;
}

.form button:active {
  transform: scale(0.96);
}
